<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean name="address" class="in.demo.xmlautowiring.Address">
		<property name="city" value="begusarai" />
		<property name="state" value="bihar" />
	</bean>
	
	<!-- <bean name="st2" class="in.demo.xmlautowiring.Student" autowire="byName"> -->
	
	<!-- <bean name="st2" class="in.demo.xmlautowiring.Student" autowire="byType"> -->
		
		<bean name="st2" class="in.demo.xmlautowiring.Student" autowire="constructor">
		

	</bean>


</beans>